<% title "Offers" %>

<div data-role="content">
	<h3>Name: <%= @member.name %></h3>
	
	<% if !@products.empty? %>
	
		<h4>Store: <%= @member.store.name %></h4>
	
		<ul data-role  = "listview">
			<%= render :partial => "product", :collection => @products %>
		</ul>
	<% end %>
	
	
</div>
