#cust_header { padding: 1px; 
				text-align: center;
				background-image:url("fbmobilebanner.jpg") 
}

#user_foot { padding: 1px; 
				text-align: center;
				background-image:url("fbmobilefooter.jpg") 
}