#user_foot {padding:1px;
			text-align:center;
			background:url("footer.jpg") 0 0 repeat-x
}

#cust_header {padding:1px;
				text-align:center;
				background:url("bannerbgorange.jpg") 0 0 repeat-x
}

#banner_logo{float: left}; /* added */